body {
  margin: 0;
}

.clearfix {
  clear: both;
}

.video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}

#header {
  border-bottom: 1px solid;
}

ul li {
  list-style: none;
}

#wrapper {
  width: 960px;
  margin: 0 auto;
}

ul#mainmenu li {
  float: left;
  font-size: 22px;
}

#logo {
  float: left;
  height: 65px;
  width: auto;
  padding: 0px 0px 10px 0px;
  margin: 0;
}

#nameweb {
  float: left;
  text-decoration: none;
  font-family: 'Courier New', Courier, monospace, Arial, sans-serif;
  padding: 15px 10px 10px 10px;
  font-size: 30px;
  margin: 0px;
  color: aqua;
}

ul#mainmenu {
  float: right;
  padding: 8px 15px;
}

ul#mainmenu li a {
  padding: 35px 15px;
  text-decoration: none;
  color: #00FF00;
}

#maintext {
  text-align: center;
  font-size: 35px;
  margin: 0;
  padding: 0;
  padding-under: 10px;
}

@keyframes rainbow {
  0% {
      color: red;
  }
  14% {
      color: orange;
  }
  28% {
      color: yellow;
  }
  42% {
      color: green;
  }
  56% {
      color: blue;
  }
  70% {
      color: indigo;
  }
  84% {
      color: violet;
  }
  100% {
      color: red;
    }
  }
p span {
  animation: rainbow 2s infinite;
}
#container {
  position: relative;
}
.glass-effect {
  background-color: rgba(11, 123, 214, 0.5); /* Màu nền với độ mờ */
  backdrop-filter: blur(10px); /* Độ mờ nền (số càng lớn, càng mờ) */
  border-radius: 8px;
  padding: 30px;
  width: 935px;
  height: 800px;
  margin: 20px auto; 
}
#text-tutorial {
  word-break: break-word;
  font-family: "Arial", sans-serif;
    font-size: 25px;
    color: #b4ff04;
}
#text-intro {
  word-break: break-word;
  font-family: "Arial", sans-serif;
    font-size: 25px;
    color: #b4ff04;
}
#text-infor {
  word-break: break-word;
    font-family: "Roboto",sans-serif;
    font-size: 20px;
    color: #c9ff04;
    text-align: center;
}
h1 {
  text-align: center;
  margin-bottom: 20px;
  color:#ff04c0;
}

.member-list {
  list-style: table;
  padding: 0;
  font-size: 30px;
}

.member-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc; /* Thêm kẻ bảng dưới mỗi thành viên */
  padding-bottom: 10px; /* Khoảng cách giữa kẻ bảng và phần tử phía dưới */
}

.student-name {
  margin-right: 0px;
}

.student-id {
  font-style: italic;
}

iframe {
  width: 1080px;
  height: 720px;
  display: block;
  margin: 0 auto;
}

/* CSS cho nút */
.button-container {
  display: block;
  margin-top: 10px;
}

#button-game {
  display: block;
  margin: 10px 90px 0px 840px;
  font-size: 30px;
}

button:hover {
  background-color: #0056b3;
}

#popup-container {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #f0f0f0;
  border: 2px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  font-family: Arial, sans-serif;
}

#popup-container.show {
  display: block;
}

#popup-text {
  font-size: 30px;
  color: #ff0e0e;
  line-height: 1.6;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 15px 19px;
  margin-bottom: 20px;
  border-radius: 4px;
}

button:hover {
  background-color: #b30000;
}
/* Styles for the Footer */
footer {
  background-color: #46219e;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-content p {
  margin-bottom: 10px;
}

.social-media a {
  display: inline-block;
  margin: 0 5px;
  border-radius: 50%;
  background-color: #4267B2;
  padding: 8px;
}

.social-media img {
  vertical-align: middle;
}

.social-media a:hover {
  background-color: #29487D;
}

/* Optional: Add hover effect to the footer text */
.footer-content p:hover {
  color: #ffcc00;
  cursor: pointer;
}

